/*general style*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
  font-family: 'Roboto Slab', serif;
  display: flex;
  align-items: center;      /* Vertically centers items */
  background-color: black;  /* Black box background */
  padding: 20px;            /* Adds some padding inside the box */
  color: white;             /* Ensures the text color is white */
}

/* Image container adjustments */
.header-image-container img {
  max-width: 100px;   /* Adjust the size of the image */
  height: auto;       /* Maintain image aspect ratio */
  margin-right: 20px; /* Space between the image and the text */
}

/* Style the title */
.site-title a {
  color: white;        /* Text color for the link */
  text-decoration: none; /* Removes the underline */
  font-size: 48px;      /* Adjust font size */
}

/* Ensure the entire main content is displayed as a flexbox container */
main.content {
  display: flex;
}

/* Style for the filter container */
.filter-container {
  width: 250px;               /* Set a fixed width for the filter section */
  background-color: #f0f0f0;  /* Light gray background */
  padding: 20px;              /* Add some padding inside the filter box */
  margin-right: 20px;         /* Space between the filter box and the rest of the content */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for separation */
}

/* Posts container will take the remaining space to the right of the filter */
#posts {
  flex-grow: 1;               /* Makes the posts container expand to take up remaining space */
}
